<%= form_with model: @book, data: { turbo: false } do |f| %>
  <div class="form">
    <div class="row">
      <div class="col-12">
        <div class="form-group mt-2">
          <%= f.label :title %>
          <%= f.text_field :title, class: "form-control" %>
          <%= error_for(f, :title) %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="row">
          <div class="col-6">
            <div class="form-group mt-2">
              <%= f.label :genre %>
              <%= f.text_field :genre, class: "form-control" %>
              <%= error_for(f, :genre) %>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group mt-2">
              <%= f.label :release_date %>
              <div class="input-group date">
                <%= f.text_field :release_date, value: (l(@book.release_date) rescue nil), class: "form-control" %>
                <span class="input-group-text input-group-addon" id="basic-addon2">
                  <span class="material-symbols-outlined">calendar_month</span>
                </span>
              </div>
              <%= error_for(f, :release_date) %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="form-group mt-2">
              <%= f.label :edition %>
              <%= f.text_field :edition, class: "form-control" %>
              <%= error_for(f, :edition) %>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group mt-2">
              <%= f.label :isbn %>
              <%= f.text_field :isbn, class: "form-control" %>
              <%= error_for(f, :isbn) %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="form-group mt-2">
              <%= f.label :oclc %>
              <%= f.text_field :oclc, class: "form-control" %>
              <%= error_for(f, :oclc) %>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group mt-2">
              <%= f.label :iccn %>
              <%= f.text_field :iccn, class: "form-control" %>
              <%= error_for(f, :iccn) %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group mt-2">
              <%= f.label :cover %>
              <%= f.file_field :cover, class: "form-control" %>
              <%= error_for(f, :cover) %>
            </div>
            <div class="form-group form-check mt-2">
              <%= f.check_box :remove_cover, class: "form-check-input" %>
              <%= f.label :remove_cover %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col">
            <div class="form-group mt-2">
              <%= f.label :publisher_id %>
              <%= f.collection_select(:publisher_id, Publisher.all, :id, :name, { prompt: '' }, { class: "form-control custom-select" }) %>
              <%= error_for(f, :publisher_id) %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group mt-2">
              <%= f.label :author_ids %>
              <%= f.collection_select(:author_ids, Author.all, :id, :name, {}, { class: "form-control custom-select", multiple: true, size: 8 }) %>
              <%= error_for(f, :author_ids) %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col">
        <%= f.submit 'Salvar', class: 'btn btn-success' %>
        <%= link_to 'Cancelar', books_path, class: 'btn btn-secondary' %>
      </div>
    </div>
  </div>
<% end %>
