<!DOCTYPE html>
<html>
  <head>
    <title>Gerenciador de Livros</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <%= stylesheet_link_tag "public", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container">
      <div class="row align-items-center">
        <div class="col">
          <%= render partial: 'flash_message', locals: { flash: flash } %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
